/* Set the background color and text color for the whole page */
body {
    background-color: #ADD8E6; /* Light blue for overall background */
    color: #222; /* Darker text for better readability */
    font-family: 'Courier New', Courier, monospace;
}
/* Style links: Default blue, turns a softer green on hover */
a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    color: lightblue;
    text-decoration: underline;
}

/* Style the side navigation search bar and side navigation panel */
.wy-side-nav-search, .wy-nav-side {
    background-color: #1a252f; /* Dark blue-gray for a modern look */
}

/* Styling when the folder (or section) is clicked and expanded */
.wy-menu-vertical .current {
    background-color: #1a252f; /* Dark blue when section is active */
    color: #ADD8E6; /* Light blue text for the active section */
}

/* Hover effect for the links/folders */
.wy-menu-vertical a:hover {
    background-color: #34495e; /* Slightly lighter dark blue-gray */
}

/* Style the top navigation bar */
.wy-nav-top {
    background-color: #1a252f; /* Darker shade for better contrast */
}

/* Style the top navigation links: Default dark blue, turns lighter on hover */
}

.wy-nav-top a {
    color: #ffffff; /* White text on top bar */
}

.wy-nav-top a:hover {
    color: lightblue; /* purbple on hover */
}

/* Table headers */
.wy-table-responsive th {
    background-color:  #1a252f; /* Dark blue header */
    color: #ffffff; /* White text for the header */
}

/* Code blocks */
code {
    background-color: #e8e8e8;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: Verdana, sans-serif;
}

/* Blockquotes */
blockquote {
    border-left: 4px solid #003366;
    padding-left: 15px;
    color: white;
    background-color: #003366;
}
